In [1]:
# dependencies and setup
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Store CSV to DataFrame
listing_host_csv = "resources/listings.csv"
listing_host_df = pd.read_csv(listing_host_csv,encoding="utf8")

In [3]:
# change column "name" to something that SQL doesn't already recognize
listing_host_df.rename(index=str,columns={"name":"listing_name"},inplace=True)
listing_host_df.head()

,id,listing_url,scrape_id,last_scraped,listing_name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

### Creating the "Listings" dataframe and cleaning it

In [4]:
# Create new data with select columns for the AirBnB listings
listing_df = listing_host_df[["id","listing_name","street","neighbourhood_group_cleansed","zipcode","latitude","longitude","property_type","room_type","accommodates","bathrooms","bedrooms","beds","bed_type","price","weekly_price","monthly_price","security_deposit","cleaning_fee","guests_included","extra_people","has_availability","availability_30","availability_60","availability_90","availability_365","number_of_reviews","review_scores_rating","review_scores_accuracy","review_scores_cleanliness","review_scores_checkin","review_scores_communication","review_scores_location","review_scores_value","requires_license","instant_bookable","cancellation_policy","host_id"]].copy()

In [5]:
# convert boolean columns to boolean
listing_df["has_availability"].replace(["t","f"],[True,False],inplace=True)
listing_df["requires_license"].replace(["t","f"],[True,False],inplace=True)
listing_df["instant_bookable"].replace(["t","f"],[True,False],inplace=True)

In [6]:
# convert all the currency columns to numeric values instead of strings
# define the currency columns
currency_cols=["price","weekly_price","monthly_price","security_deposit","cleaning_fee","extra_people"]
# remove dollar sign and commas
listing_df[currency_cols]=listing_df[currency_cols].replace({'\$': '', ',': ''}, regex=True)
# changing the leftover value (minus currency sign and commas) to a number
listing_df["price"] = pd.to_numeric(listing_df["price"])
listing_df["weekly_price"] = pd.to_numeric(listing_df["weekly_price"])
listing_df["monthly_price"] = pd.to_numeric(listing_df["monthly_price"])
listing_df["security_deposit"] = pd.to_numeric(listing_df["security_deposit"])
listing_df["cleaning_fee"] = pd.to_numeric(listing_df["cleaning_fee"])
listing_df["extra_people"] = pd.to_numeric(listing_df["extra_people"])
listing_df

,id,listing_name,street,neighbourhood_group_cleansed,zipcode,latitude,longitude,property_type,room_type,accommodates,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,instant_bookable,cancellation_policy,host_id
0,241032,Stylish Queen Anne Apartment,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,98119,47.636289,-122.371025,Apartment,Entire home/apt,4,...,10.0,10.0,10.0,10.0,9.0,10.0,False,False,moderate,956883
1,953595,Bright & Airy Queen Anne Apartment,"7th Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.639123,-122.365666,Apartment,Entire home/apt,4,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,strict,5177328
2,3308979,New Modern House-Amazing water view,"West Lee Street, Seattle, WA 98119, United States",Queen Anne,98119,47.629724,-122.369483,House,Entire home/apt,11,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,strict,16708587
3,7421966,Queen Anne Chateau,"8th Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.638473,-122.369279,Apartment,Entire home/apt,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,flexible,9851441
4,278830,Charming craftsman 3 bdm house,"14th Ave W, Seattle, WA 98119, United States",Queen Anne,98119,47.632918,-122.372471,House,Entire home/apt,6,...,9.0,9.0,10.0,10.0,9.0,9.0,False,False,strict,1452570
5,5956968,Private unit in a 1920s mansion,"West Comstock Street, Seattle, WA 98119, Unite...",Queen Anne,98119,47.630525,-122.366174,House,Private room,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,strict,326758
6,1909058,Queen Anne Private Bed and Bath,"10th Avenue West, Seattle, WA 98119, United St...",Queen Anne,98119,47.636605,-122.368519,House,Private room,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,moderate,2497928
7,856550,Tiny Garden cabin on Queen Anne,"West Wheeler Street, Seattle, WA 98119, United...",Queen Anne,98119,47.640161,-122.375856,Cabin,Private room,2,...,10.0,10.0,10.0,10.0,9.0,10.0,False,False,strict,4016632
8,4948745,Urban Charm || Downtown || Views,"Queen Anne Avenue North, Seattle, WA 98109, Un...",Queen Anne,98109,47.632410,-122.357216,Apartment,Private room,2,...,10.0,9.0,10.0,9.0,10.0,10.0,False,False,strict,2166277
9,2493658,Airy + Bright Queen Anne Apartment,"7th Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.637492,-122.366889,Apartment,Entire home/apt,4,...,10.0,10.0,10.0,10.0,10.0,9.0,False,False,strict,5177328
10,175576,Private Apartment - Queen Anne Hill,"1st Ave W, Seattle, WA 98119, United States",Queen Anne,98119,47.635482,-122.358478,House,Entire home/apt,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,moderate,239585
11,4454295,Upper Queen Anne Craftsman House,"3rd Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.637214,-122.360046,House,Entire home/apt,2,...,10.0,10.0,9.0,10.0,10.0,9.0,False,False,strict,4606439
12,3883392,Open Plan 2bdr/1bath in Queen Anne,"West Howe Street, Seattle, WA 98119, United St...",Queen Anne,98119,47.635546,-122.373171,Apartment,Entire home/apt,4,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,moderate,19932967
13,8889257,Elegance in Historic Queen Anne,"West Prospect Street, Seattle, WA 98119, Unite...",Queen Anne,98119,47.629507,-122.367629,House,Entire home/apt,5,...,10.0,10.0,9.0,9.0,10.0,10.0,False,False,strict,25899989
14,5680462,Stunning 6 bd in THE BEST Location!,"7th Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.639203,-122.365863,House,Entire home/apt,16,...,9.0,10.0,10.0,10.0,10.0,10.0,False,True,strict,22372266
15,8988178,"Lovely Queen Anne Cottage, 2 BR","12th Avenue West, Seattle, WA 98119, United St...",Queen Anne,98119,47.635650,-122.372893,House,Entire home/apt,5,...,8.0,10.0,8.0,8.0,8.0,8.0,False,False,strict,2983711
16,3245876,Park Life in Lower Queen Anne,"West Mercer Place, Seattle, WA 98119, United S...",Queen Anne,98119,47.626200,-122.366602,Apartment,Private room,2,...,10.0,9.0,10.0,10.0,10.0,9.0,False,False,moderate,9465817
17,4933447,"Private Garden Suite, Bay View","12th Avenue West, Seattle, WA 98119, United St...",Queen Anne,98119,47.640646,-122.372406,House,Private room,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,True,moderate,25417834
18,7735464,Queen Anne Getaway Near Seattle!,"11th Avenue West, Seattle, WA 98119, United St...",Queen Anne,98119,47.639776,-122.372235,Apartment,Private room,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,flexible,6170760
19,6291829,Grand Craftsman Home on Queen Anne,"1st Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.636025,-122.358694,House,Entire home/apt,10,...,10.0,9.0,9.0,9.0,8.0,8.0,False,False,flexible,32713558
20,9218403,Queen Anne View One Bedroom,"West Olympic Place, Seattle, WA 98119, United ...",Queen Anne,98119,47.627940,-122.364959,Condominium,Entire home/apt,1,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,flexible,14100483
21,4125779,Cozy Queen Anne Finished Basement,"2nd Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.636374,-122.361033,House,Private room,3,...,9.0,9.0,9.0,9.0,10.0,8.0,False,False,moderate,21401856
22,8942678,Lovely Queen Anne home,"1st Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.635632,-122.358881,House,Entire home/apt,8,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,flexible,46675077
23,10106055,"Cozy Lower Level, Upper Queen Anne","West Galer Street, Seattle, WA 98119, United S...",Queen Anne,98119,47.633394,-122.371920,House,Private room,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,flexible,51860756
24,6362362,Charming home on Queen Anne,"10th Avenue West, Seattle, WA 98119, United St...",Queen Anne,98119,47.638517,-122.369581,House,Entire home/apt,5,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,moderate,33147763
25,3544550,VIEW-Monthly Rental Available,"7th Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.631397,-122.367767,House,Entire home/apt,8,...,10.0,10.0,9.0,10.0,10.0,10.0,False,False,strict,16708587
26,9025039,Cute Bungalow-Close to Everything!,"West McGraw Street, Seattle, WA 98119, United ...",Queen Anne,98119,47.638752,-122.367973,House,Entire home/apt,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,flexible,68155
27,3200646,Micro Gypsy Wagon on Queen Anne,"West Wheeler Street, Seattle, WA 98119, United...",Queen Anne,98119,47.639266,-122.374726,Camper/RV,Private room,2,...,10.0,10.0,10.0,10.0,9.0,9.0,False,False,strict,4016632
28,8859380,STUNNING VIEW of Puget Sound,"9th Avenue West, Seattle, WA 98119, United States",Queen Anne,98119,47.629907,-122.368948,Apartment,Entire home/apt,6,...,10.0,10.0,10.0,10.0,10.0,10.0,False,True,moderate,3792761
29,4520099,Open Airy Queen Anne Condo,"14th Avenue West, Seattle, WA 98119, United St...",Queen Anne,98119,47.639816,-122.374338,Apartment,Entire home/apt,3,...,8.0,9.0,7.0,10.0,9.0,9.0,False,False,strict,6184895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3788,7745196,Cozy Modern Apartment in Fremont,"Woodland Park Avenue North, Seattle, WA 98103,...",Other neighborhoods,98103,47.656739,-122.344865,Apartment,Entire home/apt,4,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,strict,398005
3789,4645405,"Private light, minimalist room","North 46th Street, Seattle, WA 98103, United S...",Other neighborhoods,98103,47.661171,-122.349923,House,Private room,2,...,9.0,9.0,9.0,10.0,9.0,9.0,False,False,flexible,13771267
3790,2755730,Your own 2 Bedroom home in Fremont,"North 35th Street, Seattle, WA 98103, United S...",Other neighborhoods,98103,47.649271,-122.347817,Apartment,Entire home/apt,6,...,10.0,10.0,10.0,10.0,10.0,10.0,False,True,strict,3752499
3791,7949448,Private Suite in Fremont-Ballard,"6th Avenue Northwest, Seattle, WA 98107, Unite...",Other neighborhoods,98107,47.659149,-122.363466,House,Private room,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,moderate,26392625
3792,9288840,City Haven,"North 46th Street, Seattle, WA 98103, United S...",Other neighborhoods,98103,47.663040,-122.348499,Apartment,Entire home/apt,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,flexible,15784748
3793,3312406,Seattle Urban-Chic Studio Cottage,"Baker Avenue Northwest, Seattle, WA 98107, Uni...",Other neighborhoods,98107,47.660056,-122.357683,House,Entire home/apt,4,...,10.0,10.0,10.0,10.0,10.0,10.0,False,True,strict,16727906
3794,6621924,Hazel Heights Hideout,"Northwest Bowdoin Place, Seattle, WA 98107, Un...",Other neighborhoods,98107,47.654199,-122.359987,Apartment,Entire home/apt,2,...,9.0,9.0,10.0,10.0,9.0,8.0,False,False,flexible,30049045
3795,5673552,Beautiful loft in downtown Fremont,"Woodland Park Ave N, Seattle, WA 98103, United...",Other neighborhoods,98103,47.650124,-122.343283,Loft,Entire home/apt,4,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,flexible,28007250
3796,609701,Charming Fremont Garden Cottage,"NW 40th St, Seattle, WA 98107, United States",Other neighborhoods,98107,47.656508,-122.360571,Cabin,Entire home/apt,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,True,moderate,3023407
3797,10118341,Fremont Lighthouse Mother-in-Law,"Phinney Avenue North, Seattle, WA 98103, Unite...",Other neighborhoods,98103,47.658976,-122.354915,House,Entire home/apt,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,strict,1237248
3798,2614387,"Everything Seattle in 0-3 miles, A","Midvale Avenue North, Seattle, WA 98103, Unite...",Other neighborhoods,98103,47.655381,-122.343205,House,Private room,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,strict,1123549
3799,7735100,Master bedroom in Fremont,"Dayton Avenue North, Seattle, WA 98103, United...",Other neighborhoods,98103,47.652902,-122.352110,Townhouse,Private room,2,...,10.0,9.0,10.0,10.0,10.0,10.0,False,False,moderate,7227474
3800,5482204,Six room suite,"Linden Avenue North, Seattle, WA 98103, United...",Other neighborhoods,98103,47.663613,-122.349519,Bed & Breakfast,Private room,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,strict,28432113
3801,4524575,Comfortable Fremont Apartment,"1st Avenue Northwest, Seattle, WA 98107, Unite...",Other neighborhoods,98107,47.657078,-122.358795,Apartment,Entire home/apt,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,moderate,20853099
3802,8562314,Cozy Craftsman in Heart of Fremont,"North 35th Street, Seattle, WA 98103, United S...",Other neighborhoods,98103,47.650765,-122.347787,House,Entire home/apt,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,flexible,18774473
3803,9698202,"Clean City House, Lots of Beds","Linden Avenue North, Seattle, WA 98103, United...",Other neighborhoods,98103,47.661131,-122.349238,House,Entire home/apt,16,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,moderate,5325329
3804,7178490,Cedar House Studio Suite in Fremont,"N 44th st, Seattle, WA 98103, United States",Other neighborhoods,98103,47.660856,-122.352401,Apartment,Entire home/apt,2,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,strict,566102
3805,8054902,2 BR/1 BA Fremont Apt w/ parking,"1st Avenue Northwest, Seattle, WA 98107, Unite...",Other neighborhoods,98107,47.653158,-122.356285,Apartment,Entire home/apt,6,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,strict,4071088
3806,5458027,Sunny Charm in Urban Cottage 2BD,"Greenwood Avenue North, Seattle, WA 98103, Uni...",Other neighborhoods,98103,47.656057,-122.354514,House,Entire home/apt,4,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,flexible,6963318
3807,4940491,Roof Deck in Fremont/Wallingford,"Stone Way North, Seattle, WA 98103, United States",Other neighborhoods,98103,47.654304,-122.342720,Apartment,Entire home/apt,2,...,10.0,10.0,10.0,10.0,10.0,9.0,False,False,strict,466499
3808,1844791,Beautiful Craftsman - Fremont 3 Bed,"Dayton Avenue North, Seattle, WA 98103, United...",Other neighborhoods,98103,47.662036,-122.350485,House,Entire home/apt,6,...,10.0,9.0,10.0,10.0,10.0,9.0,False,False,strict,7964921
3809,6120046,Lake Veiw Cottage in Fremont,"Albion Place North, Seattle, WA 98103, United ...",Other neighborhoods,98103,47.648689,-122.343915,Apartment,Entire home/apt,4,...,8.0,7.0,9.0,9.0,9.0,8.0,False,False,strict,31752892
3810,262764,Fremont Farmhouse,"N Bowdoin Pl, Seattle, WA 98103, United States",Other neighborhoods,98103,47.654205,-122.352604,House,Entire home/apt,5,...,9.0,8.0,10.0,10.0,10.0,8.0,False,False,strict,1379138
3811,8578490,Super Convenient Top Floor Apt,"Whitman Avenue North, Seattle, WA 98103, Unite...",Other neighborhoods,98103,47.657898,-122.346692,Apartment,Entire home/apt,3,...,9.0,8.0,10.0,10.0,10.0,10.0,False,False,moderate,11847918
3812,3383329,OF THE TREE & CLOUDS. KID FRIENDLY!,"Northwest 39th Street, Seattle, WA 98107, Unit...",Other neighborhoods,98107,47.654516,-122.358124,Apartment,Entire home/apt,4,...,10.0,10.0,10.0,10.0,9.0,10.0,False,True,moderate,3443346
3813,8101950,3BR Mountain View House in Seattle,"Northwest 48th Street, Seattle, WA 98107, Unit...",Other neighborhoods,98107,47.664295,-122.359170,House,Entire home/apt,6,...,8.0,10.0,4.0,8.0,10.0,8.0,False,False,strict,31148752
3814,8902327,Portage Bay View!-One Bedroom Apt,"Fuhrman Avenue East, Seattle, WA 98102, United...",Capitol Hill,98102,47.649552,-122.318309,Apartment,Entire home/apt,4,...,10.0,10.0,10.0,10.0,10.0,10.0,False,False,moderate,46566046
3815,10267360,Private apartment view of Lake WA,"South Laurel Street, Seattle, WA 98178, United...",Rainier Valley,98178,47.508453,-122.240607,House,Entire home/apt,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,moderate,52791370
3816,9604740,Amazing View with Modern Comfort!,"43rd Avenue East, Seattle, WA 98112, United St...",Capitol Hill,98112,47.632335,-122.275530,Condominium,Entire home/apt,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,moderate,25522052
3817,10208623,Large Lakefront Apartment,"Westlake Avenue North, Seattle, WA 98109, Unit...",Queen Anne,98109,47.641186,-122.342085,Apartment,Entire home/apt,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,flexible,14703116

### Creating the "Hosts" dataframe and cleaning it

In [7]:
# Create new data with select columns for the AirBnB hosts
host_df = listing_host_df[["host_id","host_name","host_since","host_location","host_response_time","host_response_rate","host_acceptance_rate","host_is_superhost","host_neighbourhood","host_listings_count","host_has_profile_pic","host_identity_verified"]].copy()

In [8]:
# delete duplicates
host_df.drop_duplicates(keep="first",inplace=True)

In [9]:
# convert dates to datetime format
host_df["host_since"]=pd.to_datetime(host_df["host_since"])

In [10]:
# convert boolean columns to boolean
host_df["host_is_superhost"].replace(["t","f"],[True,False],inplace=True)
host_df["host_has_profile_pic"].replace(["t","f"],[True,False],inplace=True)
host_df["host_identity_verified"].replace(["t","f"],[True,False],inplace=True)

In [11]:
# converting the percentage columns from strings to percentages
# remove the percentage symbols from the columns with percentages
host_df["host_response_rate"]=host_df["host_response_rate"].replace({'\$': '', ',': '', '%':''}, regex=True)
host_df["host_acceptance_rate"]=host_df["host_acceptance_rate"].replace({'\$': '', ',': '', '%':''}, regex=True)
# convert the percentage columns to numbers
host_df["host_response_rate"] = pd.to_numeric(host_df["host_response_rate"])
host_df["host_acceptance_rate"] = pd.to_numeric(host_df["host_acceptance_rate"])
host_df

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_has_profile_pic,host_identity_verified
0,956883,Maija,2011-08-11,"Seattle, Washington, United States",within a few hours,96.0,100.0,False,Queen Anne,3.0,True,True
1,5177328,Andrea,2013-02-21,"Seattle, Washington, United States",within an hour,98.0,100.0,True,Queen Anne,6.0,True,True
2,16708587,Jill,2014-06-12,"Seattle, Washington, United States",within a few hours,67.0,100.0,False,Queen Anne,2.0,True,True
3,9851441,Emily,2013-11-06,"Seattle, Washington, United States",NaN,NaN,NaN,False,Queen Anne,1.0,True,True
4,1452570,Emily,2011-11-29,"Seattle, Washington, United States",within an hour,100.0,NaN,False,Queen Anne,2.0,True,True
5,326758,Andrew,2010-12-25,"Seattle, Washington, United States",NaN,NaN,NaN,False,Queen Anne,1.0,True,True
6,2497928,Gary And Beth,2012-05-30,"Seattle, Washington, United States",within an hour,100.0,100.0,True,Queen Anne,1.0,True,True
7,4016632,Jean-Marc,2012-10-30,"Seattle, Washington, United States",within an hour,100.0,100.0,True,Queen Anne,5.0,True,True
8,2166277,Aliza,2012-04-18,"Seattle, Washington, United States",NaN,NaN,100.0,False,Queen Anne,1.0,True,True
10,239585,Ray & Eileen,2010-09-19,"Seattle, Washington, United States",within a few hours,100.0,100.0,True,Queen Anne,1.0,True,True
11,4606439,Nadia,2013-01-06,"Seattle, Washington, United States",within a few hours,100.0,100.0,False,Queen Anne,1.0,True,True
12,19932967,Pat & Roberta,2014-08-13,"Seattle, Washington, United States",within an hour,100.0,100.0,True,NaN,1.0,True,True
13,25899989,Ellie,2015-01-10,"Kirkland, Washington, United States",within an hour,100.0,100.0,False,Queen Anne,1.0,True,True
14,22372266,Sarah,2014-10-10,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Queen Anne,1.0,True,True
15,2983711,Paige,2012-07-18,"Seattle, Washington, United States",within a few hours,100.0,100.0,False,NaN,1.0,True,False
16,9465817,Libby,2013-10-16,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Queen Anne,1.0,True,True
17,25417834,Markus And Melissa,2014-12-31,"Seattle, Washington, United States",within an hour,100.0,100.0,True,Queen Anne,1.0,True,True
18,6170760,Sam,2013-04-30,"Seattle, Washington, United States",NaN,NaN,NaN,False,Queen Anne,1.0,True,True
19,32713558,Kary,2015-05-05,"Seattle, Washington, United States",NaN,NaN,NaN,False,Queen Anne,1.0,True,True
20,14100483,Annie,2014-04-09,"Quilcene, Washington, United States",within a few hours,100.0,100.0,False,NaN,1.0,True,True
21,21401856,Nick,2014-09-16,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Queen Anne,1.0,True,False
22,46675077,Susanna,2015-10-16,"Seattle, Washington, United States",within a day,100.0,100.0,False,Queen Anne,1.0,True,False
23,51860756,Maggie & Alex,2015-12-20,"Seattle, Washington, United States",NaN,NaN,NaN,False,Queen Anne,1.0,True,False
24,33147763,Tracy,2015-05-11,"Seattle, Washington, United States",NaN,NaN,NaN,False,Queen Anne,1.0,True,False
26,68155,Lori,2010-01-06,"Seattle, Washington, United States",within a few hours,100.0,100.0,False,Queen Anne,1.0,True,True
28,3792761,Kimberly,2012-10-07,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Queen Anne,5.0,True,True
29,6184895,Lana,2013-05-01,"Seattle, Washington, United States",within an hour,71.0,100.0,False,Queen Anne,1.0,True,True
31,5325329,Blair,2013-03-04,"Seattle, Washington, United States",within a few hours,97.0,100.0,False,Queen Anne,9.0,True,True
32,31037494,Silvia,2015-04-11,"Seattle, Washington, United States",within a day,60.0,100.0,False,Queen Anne,1.0,True,True
33,25906186,Vacation,2015-01-10,US,within an hour,71.0,100.0,False,Queen Anne,1.0,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
3775,45617021,Kurt,2015-10-02,"Seattle, Washington, United States",within a few hours,80.0,100.0,False,Fremont,1.0,True,True
3776,781716,Andra,2011-07-05,"Seattle, Washington, United States",NaN,NaN,NaN,True,Fremont,1.0,True,True
3777,30030857,Deb,2015-03-26,"Seattle, Washington, United States",within a few hours,100.0,100.0,False,Fremont,1.0,True,True
3780,36742703,Joel,2015-06-25,"Seattle, Washington, United States",NaN,NaN,NaN,False,Fremont,1.0,True,False
3782,14012754,Lara,2014-04-07,"Seattle, Washington, United States",within an hour,100.0,100.0,True,Fremont,1.0,True,True
3783,7441000,Carrie,2013-07-12,"Seattle, Washington, United States",within a few hours,100.0,100.0,False,Fremont,1.0,True,True
3785,30609848,Melissa,2015-04-04,"Seattle, Washington, United States",within a day,100.0,100.0,False,Fremont,1.0,True,False
3788,398005,Trevor,2011-02-18,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Fremont,1.0,True,True
3790,3752499,Donna,2012-10-04,"Seattle, Washington, United States",within an hour,100.0,100.0,True,Fremont,1.0,True,True
3791,26392625,Jason,2015-01-20,"Seattle, Washington, United States",within a few hours,100.0,100.0,False,Fremont,1.0,True,True
3792,15784748,Teresa,2014-05-20,"Seattle, Washington, United States",within an hour,100.0,NaN,False,Fremont,1.0,True,False
3793,16727906,Tory,2014-06-13,"Seattle, Washington, United States",within an hour,100.0,100.0,True,Fremont,1.0,True,True
3794,30049045,Tim And Amanda,2015-03-26,"Seattle, Washington, United States",within a few hours,80.0,100.0,False,Fremont,1.0,True,True
3795,28007250,Brittney,2015-02-19,"Seattle, Washington, United States",within an hour,100.0,100.0,True,NaN,1.0,True,True
3796,3023407,Nan,2012-07-23,"Seattle, Washington, United States",within an hour,100.0,100.0,True,Fremont,1.0,True,True
3797,1237248,Elise,2011-10-02,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Fremont,1.0,True,True
3799,7227474,Roger,2013-07-01,"Seattle, Washington, United States",a few days or more,25.0,100.0,False,Fremont,1.0,True,True
3800,28432113,Chelsea Station Inn,2015-02-27,"Seattle, Washington, United States",NaN,NaN,NaN,False,Fremont,1.0,True,False
3801,20853099,Flora,2014-09-02,"Seattle, Washington, United States",within a few hours,100.0,100.0,True,Fremont,1.0,True,True
3802,18774473,Victoria,2014-07-23,US,NaN,NaN,NaN,False,NaN,1.0,True,False
3804,566102,Eve,2011-05-07,"Seattle, Washington, United States",within a few hours,100.0,100.0,True,Fremont,1.0,True,True
3805,4071088,David,2012-11-05,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Fremont,1.0,True,True
3807,466499,Elizabeth,2011-03-27,"Arlington, Massachusetts, United States",within a day,100.0,100.0,False,Wallingford,1.0,True,False
3809,31752892,Megan,2015-04-22,"Seattle, Washington, United States",within a day,100.0,100.0,False,Fremont,1.0,True,True
3810,1379138,Rachel,2011-11-07,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Fremont,1.0,True,True
3811,11847918,Ryan,2014-02-01,"Seattle, Washington, United States",within a few hours,100.0,100.0,False,Fremont,1.0,True,True
3814,46566046,Glen,2015-10-14,"Seattle, Washington, United States",within an hour,100.0,100.0,False,Portage Bay,1.0,True,True
3815,52791370,Virginia,2015-12-30,US,NaN,NaN,NaN,False,NaN,1.0,True,False
3816,25522052,Karen,2015-01-03,"Tacoma, Washington, United States",within an hour,100.0,NaN,False,NaN,1.0,True,True
3817,14703116,Gil,2014-04-25,"Seattle, Washington, United States",within a day,100.0,NaN,False,Queen Anne,1.0,True,True

### Creating the "Availability" dataframe and cleaning it

In [12]:
# Store CSV to DataFrame
availability_file = "resources/calendar.csv"
availability_df = pd.read_csv(availability_file,encoding="utf8")

In [13]:
# change column "date" to something that SQL doesn't already recognize
availability_df.rename(index=str,columns={"date":"available_date"},inplace=True)
# convert column to datetime
availability_df["available_date"]=pd.to_datetime(availability_df["available_date"])

In [14]:
# convert boolean columns to boolean
availability_df["available"].replace(["t","f"], [True,False], inplace=True)

In [15]:
# remove dollar sign
availability_df["price"] = availability_df["price"].replace({'\$': '', ',': ''}, regex=True)
# convert the price column to numeric values instead of strings
availability_df["price"] = pd.to_numeric(availability_df["price"])
availability_df.head()

   listing_id available_date  available  price
0      241032     2016-01-04       True   85.0
1      241032     2016-01-05       True   85.0
2      241032     2016-01-06      False    NaN
3      241032     2016-01-07      False    NaN
4      241032     2016-01-08      False    NaN

### Creating the "Reviews" dataframe and cleaning it

In [16]:
# Store CSV to DataFrame
reviews_file = "resources/reviews.csv"
reviews_df = pd.read_csv(reviews_file,encoding="utf8")

In [17]:
# change column "date/id" to something that SQL doesn't already recognize
reviews_df.rename(index=str,columns={"date":"review_date"},inplace=True)
reviews_df.rename(columns={"id":"review_id"}, inplace=True)

In [18]:
# Create new data with select columns for the AirBnB listings
review_df = reviews_df[['review_id', "listing_id", "review_date", "reviewer_id", "reviewer_name", "comments"]].copy()

In [19]:
# convert dates to datetime
review_df["review_date"] = pd.to_datetime(review_df["review_date"])
review_df.head()

,review_id,listing_id,review_date,reviewer_id,reviewer_name,comments
0,38917982,7202016,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,39087409,7202016,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,39820030,7202016,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,40813543,7202016,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,41986501,7202016,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

### Remove Neighborhoods that We're Not Using and Clean Relevant Columns

In [20]:
listing_df.groupby("neighbourhood_group_cleansed").count()

,id,listing_name,street,zipcode,latitude,longitude,property_type,room_type,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,instant_bookable,cancellation_policy,host_id
neighbourhood_group_cleansed,,,,,,,,,,,,,,,,,,,,,
Ballard,230,230,230,229,230,230,230,230,230,230,...,193,193,193,193,193,193,230,230,230,230
Beacon Hill,118,118,118,118,118,118,118,118,118,117,...,103,103,103,103,103,103,118,118,118,118
Capitol Hill,567,567,567,565,567,567,567,567,567,564,...,458,459,458,460,459,459,567,567,567,567
Cascade,89,89,89,89,89,89,89,89,89,89,...,65,65,65,65,65,65,89,89,89,89
Central Area,369,369,369,368,369,369,369,369,369,369,...,319,319,319,319,319,318,369,369,369,369
Delridge,79,79,79,79,79,79,79,79,79,79,...,65,65,65,65,65,65,79,79,79,79
Downtown,530,530,530,529,530,530,530,530,530,526,...,455,455,455,456,456,456,530,530,530,530
Interbay,11,11,11,10,11,11,11,11,11,11,...,9,9,9,9,9,9,11,11,11,11
Lake City,67,67,67,67,67,67,67,67,67,67,...,56,56,56,56,56,56,67,67,67,67
Magnolia,61,61,61,61,61,61,61,61,61,61,...,47,47,47,47,47,47,61,61,61,61
Northgate,80,80,80,80,80,80,80,80,80,76,...,65,65,65,65,65,65,80,80,80,80
Other neighborhoods,794,794,794,794,794,794,794,794,794,791,...,651,653,650,653,651,651,794,794,794,794
Queen Anne,295,295,295,294,295,295,295,295,295,295,...,244,246,245,246,245,245,295,295,295,295
Rainier Valley,159,159,159,159,159,159,158,159,159,158,...,134,134,134,134,134,134,159,159,159,159
Seward Park,44,44,44,44,44,44,44,44,44,44,...,39,39,39,39,39,39,44,44,44,44
University District,122,122,122,122,122,122,122,122,122,122,...,95,95,95,95,95,95,122,122,122,122
West Seattle,203,203,203,203,203,203,203,203,203,203,...,162,162,162,162,162,162,203,203,203,203

In [21]:
# Restrict analysis to only neighborhoods of interest
listing_df = listing_df[listing_df["neighbourhood_group_cleansed"].isin(["Queen Anne", "Central Area", "Downtown", "Beacon Hill"])]

In [22]:
# Remove rows that have 0 values for relevant columns
listing_df = listing_df[listing_df["price"] != 0]
listing_df = listing_df[listing_df["cancellation_policy"] != 0]
listing_df = listing_df[listing_df["room_type"] != 0]
listing_df = listing_df[listing_df["review_scores_value"] != 0]
listing_df = listing_df[listing_df["number_of_reviews"] != 0]

# Remove rows that have N/A for relevant columns
listing_df.dropna(subset=["price","cancellation_policy","room_type","review_scores_value","number_of_reviews"],how="any",inplace=True)

In [23]:
# Reduce the host dataframe to only the relevant neighborhoods
host_reduced_df = pd.merge(listing_df,host_df,how="left",left_on=["host_id"],right_on=["host_id"])
host_reduced_df.dropna(subset=["price","cancellation_policy","room_type","review_scores_value","number_of_reviews"],how="any",inplace=True)
host_reduced_df = host_reduced_df[["host_id","host_name","host_since","host_location","host_response_time","host_response_rate","host_acceptance_rate","host_is_superhost","host_neighbourhood","host_listings_count","host_has_profile_pic","host_identity_verified"]]
host_reduced_df.drop_duplicates(keep="first",inplace=True)

In [24]:
# Reduce the reviews dataframe to only the relevant neighborhoods
reviews_reduced_df = pd.merge(reviews_df,listing_df,how="left",left_on=["listing_id"],right_on=["id"])
reviews_reduced_df.dropna(subset=["price","cancellation_policy","room_type","review_scores_value","number_of_reviews"],how="any",inplace=True)
reviews_reduced_df = reviews_reduced_df[['review_id', "listing_id", "review_date", "reviewer_id", "reviewer_name", "comments"]]
reviews_reduced_df.drop_duplicates(keep="first",inplace=True)

In [25]:
# Reduce the availability dataframe to only the relevant neighborhoods
# availability_reduced_df = pd.merge(availability_df,listing_df,how="left",left_on=["listing_id"],right_on=["id"])
# availability_reduced_df.dropna(subset=["price_y","cancellation_policy","room_type","review_scores_value","number_of_reviews"],how="any",inplace=True)
# availability_reduced_df = availability_reduced_df[["listing_id", "available_date", "available", "price_x"]]
# availability_reduced_df.rename(index=str, columns = {"price_x":"price"},inplace=True)
# availability_reduced_df.drop_duplicates(keep="first",inplace=True)

### SQL

In [26]:
# establish the MySQL database connection and create the engine
rds_connection_string = "root:Farmerdave415-@127.0.0.1/seattle_airbnb_db"
engine = create_engine(f"mysql+pymysql://{rds_connection_string}?charset=utf8", encoding = "utf8")

In [27]:
# check tablenames in the MySQL database
engine.table_names()

['airbnb_hosts', 'listings', 'property_availability', 'property_reviews']

In [28]:
# add the hosts dataframe to MySQL
host_reduced_df.to_sql(name="airbnb_hosts",con=engine,if_exists="append",index=False,chunksize=2000)

In [29]:
# add the listings dataframe to MySQL
listing_df.to_sql(name="listings",con=engine,if_exists="append",index=False,chunksize=200)

In [30]:
# add the property availability dataframe to MySQL
# availability_reduced_df.to_sql(name="property_availability",con=engine,if_exists="append",index=False,chunksize=2000)

In [31]:
# add the property reviews dataframe to MySQL
reviews_reduced_df.to_sql(name="property_reviews",con=engine,if_exists="append",index=False,chunksize=2000)